html[data-type="dark"] {
  .taskTable {
    :global(.ant-table-cell) {
      color: #dce0ee;
      font-family: Heebo, sans-serif;

      span {
        color: #dce0ee;
        font-family: Heebo, sans-serif;
      }
    }
  }
}
