.projectCard {
  border: solid 0;
  width: 352px;
  background: unset;
  overflow: hidden;
  cursor: pointer;

  .cardName {
    height: 32px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ant-btn {
      color: #fff;
    }

    .projectName {
      max-width: 280px;
      font-weight: 500;
      font-size: 14px;
      color: #c3cdf0;
    }
  }

  .cardCounter {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .footerTitle {
    text-align: center;
    font-size: 10px;
    padding: 12px;
    font-weight: 500;
    color: $pending-gray;
  }

  .subProjectsList {
    height: 100%;
    margin: 6px 0;
    overflow-y: auto;

    a {
      color: $blue-200;
      padding: 0 24px;
      line-height: 30px;
      text-decoration: none;
      display: flex;

      .subPath {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 120px;

        &.doubleWidth {
          max-width: 260px;
        }
      }

      &:hover {
        background-color: $blue-400;
      }
    }
  }
}

html[schema="light"] {
  .cardName {
    .projectName {
      color: $blue-600 !important;
    }

    .ant-btn {
      color: $blue-800;
    }
  }

  .subProjectsList {
    a {
      color: $blue-800;

      &:hover {
        background-color: $blue-300;
      }
    }
  }

  .footerTitle {
    color: $blue-600;
  }
}
