@import "@/assets/fonts/trains-icons.scss";
@import "@/assets/fonts/heebo.scss";
@import "./status.scss";
@import "@/assets/icons/icon-svg.scss";

html,
body,
#root {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

/* 清除浮动 */
.clearfix::after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}

.head-container {
  display: flex;
  align-items: center;
  min-height: 54px;
}

html[data-type="dark"] {
  ::-webkit-scrollbar-thumb {
    background-color: $blue-400;
  }
}

html[data-type="light"] {
  ::-webkit-scrollbar-thumb {
    background-color: #acacac;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

html[data-type="dark"] {
  .ant-table-thead {
    .ant-table-cell {
      background: $blue-700;
      color: $blue-300;
    }
  }
}

.ant-table-thead {
  .ant-table-cell {
    font-family: Heebo, sans-serif;
    font-weight: 500 !important;
    font-size: 12px;
    padding: 12px;
    background-color: $blue-50;
  }
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.commonDialogTitle {
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  color: #8492c2;
  display: block;
  font-family: Heebo, sans-serif;
}

.subDialogHeader {
  font-size: 14px;
  text-align: center;
  color: $blue-400;
  margin-left: auto !important;
}

html[data-type="dark"] {
  .commonDialogTitle {
    color: $blue-50;
  }

  .subDialogHeader {
    color: $blue-200;
  }
}
