.primary:not(.ant-popover-disabled-compatible-wrapper) {
  background-color: $primaryColor !important;
  color: #ffffff !important;

  .anticon {
    color: #ffffff !important;
  }
}

.warning:not(.ant-popover-disabled-compatible-wrapper) {
  background-color: $warningColor !important;
  color: #ffffff;

  .anticon {
    color: #ffffff;
  }
}

.error:not(.ant-popover-disabled-compatible-wrapper) {
  background-color: $errorColor !important;
  color: #ffffff !important;

  .anticon {
    color: #ffffff;
  }
}

.success:not(.ant-popover-disabled-compatible-wrapper) {
  background-color: $successColor !important;
  color: #ffffff !important;

  .anticon {
    color: #ffffff;
  }
}
