.taskStatusLabel {
  .icon {
    min-width: 10px;
  }

  .label {
    line-height: 18px;
    margin-left: 5px;

    &.with-spinner {
      min-width: 50px;
    }
  }

  &.created,
  &.queued {
    color: $grey-purple;
  }

  &.completed,
  &.Final {
    color: $completed-blue;
  }

  &.aborted {
    color: $completed-blue;
  }

  &.running {
    color: $running-green;
  }

  &.failed {
    color: $strong-red;
  }

  &.in_progress,
  &.Uploading {
    color: $running-green;
  }

  &.published {
    color: $neon-yellow;
    line-height: 23px;
  }

  &.closed {
    color: $blue-sky;
  }

  &.stopped {
    color: $blue-sky;
  }
}
