.editableSection {
  &.editable {
    &:hover {
      .editBtn {
        display: block;
      }
    }
  }

  &.editMode {
    z-index: 101;
    border: 1px dashed #8f9cc9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .inlineEdit {
    .ant-form-item {
      border: none;
    }
  }

  :global(.ant-form-item) {
    margin: 0;
    padding: 6px 0;
    border-bottom: 1px solid #cccccc;
    color: #5a658e;
    font-family: Heebo, sans-serif;

    :global(.ant-form-item-control-input) {
      min-height: 20px;
    }

    :global(.ant-form-item-label) {
      width: 155px;

      :global(label) {
        height: 14px;
        font-weight: 500;
        color: #71758a;
        font-size: 11px;
        font-family: Heebo, sans-serif;
      }
    }
  }

  .editBtn {
    display: none;
    position: absolute;
    top: 28px;
    right: 30px;
  }

  .formBtn {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}
