.projectHeader {
  display: flex;
  align-items: center;
}

.filterItem {
  display: flex;
  align-items: center;
  font-family: Heebo, sans-serif;
  font-weight: bold;
  font-size: 12px;

  i {
    font-size: 18px;
    margin-right: 5px;
  }
}

html[data-type="light"] {
  .filterItem {
    color: $blue-400;
  }
}

.projects {
  display: block;
  height: 100%;

  .projectsBody {
    height: calc(100%);
    overflow-y: auto;

    :global(.ant-tabs-nav) {
      margin: 0;
    }
  }
}

.tabHeader {
  :global(.ant-tabs-tab) {
    padding: 16px 0;
  }

  :global(.ant-tabs-ink-bar) {
    top: 0;
    height: 4px !important;
  }
}

html[data-type="dark"] {
  .filterItem {
    color: $blue-200;
  }

  .tabHeader {
    :global(.ant-tabs-tab.ant-tabs-tab-active) {
      :global(.ant-tabs-tab-btn) {
        color: $neon-yellow !important;
      }
    }

    :global(.ant-tabs-tab:hover) {
      color: $neon-yellow !important;
    }

    :global(.ant-tabs-ink-bar) {
      background: $neon-yellow;
    }
  }
}
