.counterContainer {
  text-align: center;
  padding: 8px;

  .circleCounter {
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 8px;

    .wrapper {
      gap: 24px;
    }

    &.multi {
      display: flex;
      padding: 0 28px;
      border-radius: 30px;
      width: unset;

      .subCounter {
        font-size: 16px;
        font-weight: bold;
      }

      .subLabel {
        font-size: 10px;
      }
    }

    &.completed {
      background-color: $completed-blue;
    }

    &.pending {
      background-color: $pending-gray;
    }

    &.empty {
      background-color: $empty-grey;
    }

    &.running {
      background-color: $running-green;
    }

    &.failed {
      background-color: $failed-red;
    }

    .counter {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 23px;
      font-weight: bold;
      text-align: center;
    }
  }

  .counterLabel {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
  }
}

.leaveSpace {
  min-height: 17px;
}

html[data-type="dark"] {
  .counterContainer {
    .circleCounter {
      &.multi {
        .subCounter {
          color: $white;

          &.noValue {
            color: $blue-400;
          }
        }

        .subLabel {
          color: $blue-300;
        }
      }

      .counter {
        color: #ffffff;
      }
    }

    .counterLabel {
      color: $pending-gray;
    }
  }
}

html[data-type="light"] {
  .counterContainer {
    .circleCounter {
      &.empty {
        background-color: $blue-400;
      }

      &.multi {
        .subCounter {
          color: $blue-800;

          &.noValue {
            color: $blue-400;
          }
        }

        .subLabel {
          color: $blue-600;
        }
      }

      .counter {
        color: #ffffff;
      }
    }

    .counterLabel {
      color: $blue-700;
    }
  }
}
