.dkCard {
  border: solid 0;
  width: 352px;
  background: unset;
  overflow: hidden;
  cursor: pointer;

  .folderTab {
    height: 20px;
    line-height: 20px;
    display: flex;

    .firstTab {
      flex: 0 0 64px;
      width: 60px;
      height: 20px;
      line-height: 0;
    }

    .middleTab {
      font: normal normal 500 12px/20px "Heebo", sans-serif;
      white-space: nowrap;
      padding-right: 6px;
    }

    .secondTab {
      flex: 0 0 28px;
      width: 28px;
      line-height: 0;
    }
  }

  .cardContainer {
    position: relative;
    transition: $transition-fast;
    height: 226px;
    width: 100%;
    border-radius: 0 6px 6px 6px;
    overflow: hidden;
    font-family: Heebo, sans-serif, sans-serif;

    .firstTabContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      padding-top: 10px;
      display: flex;
      flex-direction: column;

      footer {
        margin-top: auto;
        position: relative;
      }

      header {
        padding: 0 16px;
      }

      header.empty {
        padding: 0;
      }

      .line {
        border-top: solid 1px $blue-600;
        margin: 0 16px;
        width: auto;
      }

      .cardBody {
        padding: 6px 16px;
        display: flex;
        flex: 1 1;
        align-items: center;
      }
    }

    .secondTabContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 6px;
    }

    .plusCard {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;

      .plusIcon {
        width: 48px;
        height: 48px;
        font-size: 48px;
      }
    }
  }
}

html[schema="dark"] {
  .firstTab {
    .tbf1 {
      fill: $blue-400;
    }

    .tbf2 {
      fill: $blue-600;
    }

    .tbf3 {
      fill: $blue-400;
    }

    .tbf4 {
      fill: $blue-500;
    }

    .tbf5 {
      fill: $blue-400;
    }

    .tbf6 {
      fill: $blue-500;
    }

    .tbf7 {
      fill: $blue-600;
    }
  }

  .middleTab {
    color: $blue-grey;

    &.secTabActive {
      color: $blue-200;
    }

    background-color: $blue-600;

    &.tabHovered:not(.showSecTab) {
      background-color: $blue-400;
      color: $blue-200;
    }
  }

  .secondTab {
    .tbs1 {
      fill: $blue-600;
    }

    .tbs2 {
      fill: $blue-400;
    }
  }

  .cardContainer {
    background-color: $blue-500;

    .firstTabContainer {
      background-color: $blue-500;

      footer {
        background-color: $blue-600;
      }

      &.firstTabHover {
        background-color: $blue-400 !important;
      }
    }

    .secondTabContainer {
      background: $blue-600;
    }

    .plusCard {
      &.plusCardHover {
        background-color: $blue-400 !important;
      }

      .plusIcon {
        color: $blue-300;
      }

      &:hover {
        .plusIcon {
          color: $blue-700;
        }
      }
    }
  }
}

html[schema="light"] {
  .firstTab {
    .tbf1 {
      fill: $blue-100;
    }

    .tbf2 {
      fill: $blue-200;
    }

    .tbf3 {
      fill: $blue-100;
    }

    .tbf4 {
      fill: $blue-50;
    }

    .tbf5 {
      fill: $blue-100;
    }

    .tbf6 {
      fill: $blue-50;
    }

    .tbf7 {
      fill: $blue-200;
    }
  }

  .middleTab {
    color: $blue-800;

    &.secTabActive {
      color: $blue-600;
    }

    background-color: $blue-200;

    &.tabHovered:not(.showSecTab) {
      background-color: $blue-100;
      color: $blue-400;
    }
  }

  .secondTab {
    .tbs1 {
      fill: $blue-200;
    }

    .tbs2 {
      fill: $blue-100;
    }
  }

  .cardContainer {
    background-color: $blue-50;

    .firstTabContainer {
      background-color: $blue-50;

      footer {
        background-color: $cloudy-blue-two;
      }

      &.firstTabHover {
        background-color: $blue-100 !important;
      }
    }

    .secondTabContainer {
      background: $blue-200;
    }

    .plusCard {
      &.plusCardHover {
        background-color: $blue-100 !important;
      }

      .plusIcon {
        color: $blue-300;
      }

      &:hover {
        .plusIcon {
          color: $blue-700;
        }
      }
    }
  }
}
